
.dropdown-menu {
    height: 150px;
    overflow: auto;
}
#adv-search{
    display: flex;
    justify-content: center;
}

#kolumn_avtal{
    display: flex;
    justify-content: center;
}
#tbl_kundlista{
    font-size: 14px;
}
input[type="checkbox"]
{
    vertical-align:middle;
}
tr:nth-child(even) {
    background-color: #E5F0FA
}
.table thead th{
    border-bottom: none;
}
#toggle-button{
    background: #BF0F0F;
    border-color: #BF0F0F;
    margin-left: 10px;
    font-size: 13px;
    color: white;
}
.form-inline label{
    justify-content: right;
}
.jumbotron-fluid{
    margin: 0;
    background-color: #11789f;
    background-image: url("http://users.du.se/~h16kaeri/ik2012/Ska%CC%88rmavbild%202019-03-06%20kl.%2013.21.42.png");
}
@media (min-width: 576px){
    .jumbotron {
        padding: 2rem 1rem;
    }
}



